    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90vh;
    }
    .send {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.2);
      width: 300px;
    }
    h2 {
      color: #25D366;
      text-align: center;
    }
    button {
      background-color: #34b7f1;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      margin: 5px 5px 10px 5px;
    }
    button:hover {
      background-color: #2aabd2;
    }
    input[type="tel"], textarea {
      width: 90%;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
    }
    label {
      margin-bottom: 5px;
      display: block;
    }